/* Tổng thể giao diện */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

/* Layout chính */
.container-fluid {
  display: flex;
  height: 50vh;
  overflow: hidden;
  margin: -3rem auto 2rem;
  position: relative;
}

.col-7 {
  position: relative;
}

.leaflet-container {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Sidebar tìm kiếm */
.col-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

input.form-control {

  border: 1px solid #ccc;
  padding: 10px;
}

.btn-primary {
  border-radius: 8px;
  background-color: #007bff;
  border: none;
  padding: 10px;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Danh sách gợi ý tìm kiếm */
.list-group-item {
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.list-group-item:hover {
  background-color: #f1f1f1;
}

/* Popups */
.leaflet-popup-content {
  font-size: 14px;
}